.siteFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: 1px solid var(--border-color);
}

.siteFooter a {
  color: var(--body-color);
  text-decoration: none;
}

.footerNav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerNav ul li {
  font-size: 1.5rem;
  margin: 0 8px;
}

.contact ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact ul li {
  font-size: 1rem;
  margin: 0 5px;
}

@media (max-width: 795px) {
  .siteFooter {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footerNav ul {
    margin: 2rem;
    justify-content: center;
  }
  .contact ul {
    justify-content: center;
  }
}
