.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.siteBranding h1 {
  font-size: 1.25rem;
  line-height: 1.05;
  letter-spacing: -1px;
  font-variation-settings: "wght" 450;
}

.siteNav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.siteNav ul li {
  display: inline-block;
}
