@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital@0;1&display=swap");

:root {
  --header-font: "Inter", sans-serif;
  --body-font: "Lora", "Inter", sans-serif;
  --font-brush: "Alex Brush", "Inter", sans-serif;
  --dark-bg: #111111;
  --brand-color: springgreen;
  --secondary-brand-color: rgba(237, 132, 224, 1);
}
.brushy-style {
  font-family: var(--font-brush), cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-brand-color);
}
* {
  box-sizing: border-box;
}

html,
body {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-family: var(--body-font), serif;
  background-color: var(--dark-bg);
  color: white;
  scroll-behavior: smooth;
}

body p,
li {
  opacity: 0.65;
}

a {
  opacity: initial;
  color: var(--brand-color);
  text-decoration: underline;
}

header,
footer {
  font-family: var(--header-font);
  font-weight: 400;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 2rem;
}

time {
  font-size: 1rem;
  font-family: var(--header-font);
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: var(--header-font), serif;
  font-weight: 400;
  margin: 0 0 15px;
}

h1 {
  font-size: clamp(2rem, 8vw, 5rem);
  line-height: 1.05;
  letter-spacing: -4px;
  font-variation-settings: "wght" 450;
}
h2 {
  font-size: 2rem;
  line-height: 1;
}
h3 {
  font-size: 1.75rem;
}

p,
li {
  font-size: 1.45rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0 25px;
}

.italic {
  font-style: italic;
  font-weight: 300;
}
