@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@200;400&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
  --font-dm-serif-display: "DM Serif Display", serif;
  --dark-bg: #1f1f1f;
  --green: #ccf2df;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter), serif;
  background-color: var(--dark-bg);
  color: white;
  padding: 1rem 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--font-dm-serif-display), serif;
  font-weight: 400;
  margin: 0 0 15px;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}
h2 {
  font-size: clamp(1.5rem, 3vw, 4rem);
}
h3 {
  font-size: clamp(1.5rem, 2vw, 4rem);
}

h3 span {
  font-style: italic;
  color: var(--green);
}

p,
li {
  font-size: 20px;
  line-height: 28px;
  font-weight: 200;
}

@media (max-width: 795px) {
  body,
  html {
    padding: 0;
  }
}
