.experienceList {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 2rem 2rem 0;
  border-left: none;
}

.experienceList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--border-color) 60%,
    rgba(51, 51, 51, 0) 100%
  );
  pointer-events: none;
}

.experienceList li {
  margin-bottom: 4rem;
}

.roundedFull {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 0.75rem;
  border-width: 1px;
  background-color: #444;
  border-color: #ccc;
  border-radius: 9999px;
  inset-inline-start: -0.375rem;
}

.currentTime {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.openSourceList {
  margin: 0;
  padding: 0;
}

.openSourceList li {
  border-bottom: 1px solid var(--border-color);
  opacity: 1;
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  padding: 0;
}

.openSourceList li h3 {
  font-family: var(--body-font);
  font-size: 1.45rem;
}

.openSourceList li h3,
.openSourceList li a {
  opacity: var(--opacity);
  margin: 0 0 5px;
  padding: 0;
}

.openSourceList li a:first-child {
  margin-right: 1rem;
}

.openSourceList img {
  filter: var(--filter);
}

.buttonDown {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: inline-block;
  margin: 2.5rem 0 1rem;
}

.ml3 {
  margin-left: 10px;
}

.workCategory {
  display: flex;
  flex-direction: column;
}

.workCategory ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.workCategory li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  padding: 0.75rem 0;
  font-size: 1rem;
  opacity: 0.85;
}

.wpThemes a {
  text-decoration: none;
  font-family: var(--header-font);
}

.workCategory h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 25px;
}
.wpThemes {
  margin: 2rem 0 0;
  padding-left: 0;
  list-style-type: none;
}
.wpThemes li {
  border: 1px solid #2f2c2c;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  display: inline-block;
  color: var(--gray);
  font-size: 16px;
  padding: 15px 30px;
  margin: 0 15px 15px 0;
}

.wpThemes li:hover {
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  opacity: 1;
}
.wpThemes li:hover a {
  color: black;
  opacity: 1;
}

@media (max-width: 1286px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 0 5rem;
  }
  .hero img {
    max-width: 30vw;
  }
  .hero h1 {
    margin-top: 1rem;
  }
}
@media (max-width: 795px) {
  .workCategory li {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1.5rem 0;
  }
  .workCategory li p {
    margin: 10px 0 25px;
  }
}
