.experienceList {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 2rem 2rem 0;
  border-left: none;
}

.experienceList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--border-color) 60%,
    rgba(51, 51, 51, 0) 100%
  );
  pointer-events: none;
}

.experienceList li {
  margin-bottom: 4rem;
}

.roundedFull {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 0.75rem;
  border-width: 1px;
  background-color: #ccc;
  border-color: #ccc;
  border-radius: 9999px;
  inset-inline-start: -0.345rem;
}

.currentTime {
  background-color: red;
  border-color: red;
}

.openSourceList {
  margin: 0;
  padding: 0;
}

.openSourceList li {
  border-bottom: 1px solid var(--border-color);
  opacity: 1;
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  padding: 0;
}

.openSourceList li h3 {
  font-family: var(--body-font);
  font-size: 1.45rem;
}

.openSourceList li h3,
.openSourceList li a {
  opacity: var(--opacity);
  margin: 0 0 5px;
  padding: 0;
}

.openSourceList li a:first-child {
  margin-right: 1rem;
}

.openSourceList img {
  filter: var(--filter);
}

.websites a {
  text-decoration: none;
  font-family: var(--header-font);
}

.websites {
  margin: 2rem 0 0;
  padding-left: 0;
  list-style-type: none;
}

.websites li {
  display: inline-block;
  margin: 0;
}

.websites li a {
  border: 1px solid var(--border-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  margin: 0 15px 15px 0;
}

.websites li a:hover {
  border: 1px solid var(--link-color);
  opacity: 1;
}
